<h1>New Sighting</h1>
<!-- <%= @animal.name %>
<%= @animal.id %>
<% @regions = Region.all %>

<% @region1 = @regions.find_by(params[:id => 1]) %>
<%= @regions.find_by(params[:id => 2]) %>
<% @region3 = @regions.find_by(params[:id => 3]) %>
<% @region4 = @regions.find_by(params[:id => 4]) %>
<%= @region4.name %> -->
<%= render 'form' %>

<%= link_to 'Back', animals_path %>
