<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
  <%= @animal.id %>

</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Return to main list', animals_path %>
